# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules  
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#node modules
frontend\exp-tracker-front\node_modules

#py files
expense-tracker-app\pyvenv.cfg
expense-tracker-app\Lib
expense-tracker-app\Scripts
expense-tracker-app\backend\db.sqlite3
expense-tracker-app\backend\backend\__pycache__

